.post-one {
  display: grid;
  grid-template-columns: 1fr 120px 40px;
  grid-template-areas: "title date date" "title author author" "body body comments";
  padding: 10px;
  box-shadow: 1px 1px 3px grey;
  margin-bottom: 20px;
}

.post-title {
  grid-area: title;
  border-bottom: 1px solid #555;

}

.post-title a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.post-title a:hover {
  text-decoration: underline;
}

.post-date {
  grid-area: date;
  font-size: 0.7rem;
}

.post-author {
  grid-area: author;
  font-size: 0.7rem;
  padding-bottom: 3px;
  border-bottom: 1px solid #555;
}

.post-body {
  grid-area: body;
  padding: 10px 0;
}

.post-comments {
  grid-area: comments;
}
.post-comments img {
  margin-top: 10px;
  width: 20px;
  height: auto;
}

.pref {
  color: grey;
  font-size: 0.8rem;
}