.post-details {
  padding-top: 20px;
}


.post-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.post-date {
  display: inline-block;
  width: 200px;
  font-size: 0.7rem;
}

.post-author {
  display: inline-block;
  float: right;
  font-size: 0.7rem;
}

.post-body {
  padding: 10px 0;
}

.post-comments h4{
  margin: 0;
}

.post-comm {
  display: flex;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px dotted grey;
}

.post-comm-author {
  width: 120px;
  flex: none;
  background: #e8e8e8;
  padding: 5px;
  font-size: 0.9rem;
}
.post-comm-text {
  flex: auto;
  padding: 5px;
}

/* words author and created */
span {
  color: #666;
  font-size: 0.9rem;
  padding: 5px;
  display: inline-block;
}

input, textarea {
  width: calc(100% - 10px);
  min-width: calc(100% - 10px)
}

.line {
  margin-bottom: 10px;
}