.post-create {
  background: white;
  border-radius: 10px;
  padding: 30px;
  min-width: 50vw;
  min-height: 50vh;
}

.line {
  margin-bottom: 10px;
}

span {
  color: #666;
  font-size: 0.9rem;
  padding: 5px;
  display: inline-block;
}

input, textarea {
  width: 100%;
  min-width: 100%;
}

textarea {
  min-height: 9rem;
}