.post-list {
  margin-top: 10px;
}

.post-plus {
  display: block;
  position: absolute;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  right: 20px;
  bottom: 10px;
  border-radius: 2rem;
  border: none;
  box-shadow: none;
  color: white;
  background: blue;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 4rem;
}